* {  box-sizing: border-box; } html { scroll-behavior: smooth; }

body {
    font-size:18px; line-height:1.6;
	  font-family: 'Funnel Sans',veranda;
	  margin:0; margin-top:80px;
}

h1,h2,h3 {
	font-family: 'Lexend Deca',veranda;
}

h4{font-family: 'Lexend Deca',veranda; font-size:18px;}

/* TEXT ELEMENTS */
.container {width:100%; padding:10px; max-width:1500px; margin:20px auto 20px auto;}



/* SPECIAL ELEMENTS */
.banner {width:100%; height:50vh; position:relative;}
	.banner.cover {height:calc(100vh - 80px);}
	.banner > img {width:100%; height:100%; object-fit:cover;}
	.banner > .overlay {position:absolute; top:0; left:0; right:0; bottom:0;
						background:rgba(0,0,0,0.6); color:white; text-align:center;
						display:flex; flex-flow:row; align-items:center; justify-content:center; padding:20px;}

.spacer {width:100%; max-width:1500px; margin:10px auto 10px auto;
		height:1px; border-bottom:2px solid silver;}

.section {width:100%; background:silver; color:black; margin:20px 0px 20px 0px; padding:20px 0px 20px 0px;}
	.section.blue{background:midnightblue; color:white;}

img.inline {display:block; width:100%; margin:20px auto 20px auto; max-width:400px; height:auto; border-radius:10px;}

/* UI ELEMENTS */
a.btn {display:inline-block; padding:5px; border:2px solid midnightBlue; color:midnightBlue; transition:0.5s;}
	a.btn:hover{background:midnightblue; color:white;}
	a.btn.filled {background:midnightblue; color:white;}
	a.btn.filled:hover {background:revert; color:midnightBlue;}
